body {
    background: #333;
    color: #fff;
    text-align: center;
}

textarea {
    width: 50%;
    height: 50vh;
    background: #333;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px;
    resize: none;
}

a {
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    text-decoration: none;
}