{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}?v2">
        <title> Counting </title>
    </head>

    <body>

        {% if not nick == "Unknown" %}
            
            <h2> Hi {{nick}}! </h2>

        {% else %}
            
            <h2> There's an error with your name! </h2>

        {% endif %}

        {% if not age == "Unknown" %}

            <p> You are {{age}} years old </p>

        {% else %}

            <p> There's an error with your age! </p>

        {% endif %}

        <p> <strong> Your items list: </strong> </p>

        <ol>

            {% for item in items %}

                <li> {{item.name}}: {{item.description}} </li> <!-- 

                {% if item.available == True %}
            
                    <li id="{{item.id}}"> {{item.name}}: {{item.description}} </li>

                {% else %}
            
                    <li id="{{item.id}}"> <del> {{item.name}}: {{item.description}}</del> <strong> UNAVAILABLE </strong> </li>

                {% endif %} -->
        
            {% endfor %}

        </ol>
    </body>
</html>