@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

*{
	font-family: "Segoe UI", "Roboto", arial, sans-serif;
	font-size: 14px;
	line-height: 1.25;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	border: none;
    color: #fff;
    fill: #fff;
	user-select: none;
	-webkit-user-drag: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #333;
}

h1{
    font-size: 1.25em;
    margin: 20px 0;
    user-select: text;
}

a{
    cursor: pointer;
}

@media(min-aspect-ratio: 1 / 1){

    *{
        font-size: 1.012em;
    }

    .calculator{
        width: 50% !important;
    }

    .secuente::before{
        left: -12px !important;
    }
}

.calculator{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 90%;
    border: 1px solid #777;
}

.screen , .controls , .premises{
    width: 95%;
    height: 45%;
}

.screen{
    display: flex;
    flex-direction: row-reverse;
    outline: 1px solid #777;
}

.secuente{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
}

.secuente input{
    font-family: "Space Mono";
    font-size: 14px;
    height: 12%;
    margin: 0 10px 10px;
    border-bottom: 1px dashed #777;
    background: #7774;
    text-align: center;
}

#table-target,
.truth-table-holder,
.truthTable {
    width: 100%;
    text-align: center;
}

#table-target,
.truth-table-holder {
    display: inline-block;
}

td {
    font-family: 'Space Mono';
}

.controls , .enabled_premises{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.controls{
    transform: scale(.01);
    animation: showMenu .25s linear forwards;
}

.calculator_btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    height: 26%;
    border: 2px solid #777;
    border-radius: 6%;
}

.calculator_btn:not(.forbidden):hover{
    background: #777;
}

.res_btn , #cancel_btn{
    width: 45%;
}

.forbidden{
    opacity: .5;
}

.premises{
    display: none;
    transform: scale(.01);
}

.hidden_controls{
    display: none !important;
}

@keyframes showMenu {

    0%{}
    35%{
        transform: scale(1.1);
    }
    65%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}

.enabled_premises{
    animation: showMenu .25s linear forwards;
}